{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Cisco Webkit">
	<meta name="author" content="hyjang@cisco.com">


	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<title>Archon</title>


	<!-- CSS -->
	<link rel="stylesheet" href="/resources/css/bootstrap.css" />
	<link rel="stylesheet" href="/resources/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/resources/css/datatables.min.css"/>
	<link rel="stylesheet" href="/resources/css/footable.bootstrap.min.css"/>
	<link rel="stylesheet" href="/resources/css/flipclock.css" />
	<link rel="stylesheet" href="/resources/css/archon.css" />


	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<!-- Javascripts -->
	<script src="/resources/js/jquery-2.2.4.min.js"></script>
	<script src="/resources/js/bootstrap.min.js"></script>
	<script src="/resources/js/d3.min.js"></script>
	<script src="/resources/js/datatables.min.js"></script>
	<script src="/resources/js/footable.min.js"></script>
	<script src="/resources/js/dimple.v2.3.0.min.js"></script>
	<script src="/resources/js/arbor.js"></script>
	<script src="/resources/js/arbor-tween.js"></script>
	<script src="/resources/js/arbor-graphics.js"></script>
	<script src="/resources/js/raphael-2.1.4.min.js"></script>
	<script src="/resources/js/justgage.js"></script>
	<script src="/resources/js/flipclock.min.js"></script>
	<script src="/resources/js/jquery.peity.min.js"></script>
	<script src="/resources/js/archonUX.js"></script>
	<script src="/resources/js/archon.js"></script>


	<!-- Navbar -->
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<!-- Small Screen Navbar -->
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigate-action-list">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
      			</button>
      			<!-- <a class="navbar-brand"><img src="/resources/images/logo.png" /></a> -->
      			<a class="navbar-brand"><img src="/resources/images/customer/Hanjin.png" style="width:90px;"/></a>
      			
      			
<!-- ------------------------Application Selector------------------------ -->
<!-- 
				<a class="app-selector" app="#test-app">Test App</a>
 -->
<!-- ------------------------Application Selector------------------------ -->
{{ app_selectors }}
<!-- ------------------------Application Selector------------------------ -->
      			
      			
      			<!-- Application Page Divider -->
      			<a id="app-divider-wrapper"><img id="app-divider" src="/resources/images/appdivider.png" /></a>
    		</div>
    		<div class="collapse navbar-collapse" id="navigate-action-list">
    		
    		
<!-- ------------------------Page Selector------------------------ -->
<!-- 
				<a class="page-selector" page="#test-page" view="/test/page/view">Test Page View</a>
 -->
{{ page_selectors }}
<!-- ------------------------Page Selector------------------------ -->

				
				<!-- Option Bar -->
				<ul class="nav navbar-nav navbar-right">
					<li>
					    <a href="#" data-toggle="modal" data-target="#InformationDocument">
					        Info
					    </a>
					    <div class="modal fade" id="InformationDocument" tabindex="-1" role="dialog" aria-labelledby="InformationDocumentLabel">
					        <div class="modal-dialog" role="document">
					            <div class="modal-content">
					                <div class="modal-header">
					                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					                    <h4 class="modal-title" id="InformationDocumentLabel">What is this?</h4>
					                </div>
					                <div class="modal-body">
<h5>This is <a href="https://github.com/HyechurnJang/archon">open-source</a> platform for cisco product.</h5>
<h5>We hope your success story using programmability with cisco products.</h5>
<br/>
<div style="text-align:center;">
<img src="/resources/images/logo.png" />
</div>
<h1 style="text-align:center;">Enjoy Cisco!</h1>
<br/>
<div style="text-align:right;">
<h3>Contact us</h3>
<h4>Woo-Hyung Choi : whchoi AT cisco.com</h4>
<h4>Hyung-Soo Kim : hyungsok AT cisco.com</h4>
<h4>Hye-Churn Jang : hyjang AT cisco.com</h4>
</div>
					                </div>
					                <div class="modal-footer">
					                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					                </div>
					            </div>
					        </div>
					    </div>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ user_name }} <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">


<!-- ------------------------User Menu------------------------ -->
{{ user_menu }}
<!-- ------------------------User Menu------------------------ -->

							
							<li><a href="/account/logout">Logout</a></li>
						</ul>
					</li>
					<li id="sched-toggle-btn"><i class="fa fa-refresh fa-2x"></i></li>
				</ul>
			</div>
		</div>
	</nav>
	
	<div id="pages">
		<div id="subject-page" class="container-fluid page collapse">
			<h1 id="subject-title"></h1>
			<div id="subject-menu"></div>
		</div>
		<div id="loading-page" class="page collapse"></div>
		<div id="dashboard-page" class="container-fluid page collapse in"></div>


<!-- ------------------------Pages------------------------ -->
<!-- 
		<div id="page-test-app" class="container-fluid page dynpage collapse">Test Page Data</div>
 -->
{{ pages }}
<!-- ------------------------Pages------------------------ -->


	</div>
</body>
</html>
