body { 
  background: url(/resources/images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
	color: #444;
}

td>p {
	margin: 0px;
	padding: 0px;
}

#loginboard {
	position: absolute;
	width: 100%;
	top: 20%;
}
#loginpanel {
	width: 400px;
	margin: auto;
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}
#loginlogo {
	text-align: center;
	padding: 10px 0px 10px 0px;
}
#loginlogo>img {
	width: 80%
}

.navbar {
	border-radius: 0;
	border-bottom: 1px solid #e7e7e7;
	margin: 0px;
}
.navbar-default .app-selector:hover,
.navbar-default .app-selector:focus {
  color: #5e5e5e;
  background-color: #e7e7e7;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #333;
  background-color: #e7e7e7;
}

.navbar-brand>img {
	width: 40px;
}

.input-group {
	width: 100%;
	padding-top: 2px;
	padding-bottom: 2px;
}
.input-group>label {
	padding-top: 6px;
}

.huge-font {
	font-size: 40px;
}

.alert>strong {
	padding-right: 15px;
}







.app-selector {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
}
.app-selector:hover,
.app-selector:focus {
  text-decoration: none;
}
#app-divider {
  height: 20px;
  padding: 0px;
  margin: 15px 15px;
  border: 0px;
}

.page-selector {
	cursor: pointer;
}
.page-selector:hover,
.page-selector:focus {
  text-decoration: none;
}

#pages {
	position: fixed;
    overflow-y: hidden;
    width: 100%;
    height: 100%;
}
#pages .dynpage {
	padding-top: 10px;
    overflow-y: scroll;
    height: calc(100% - 100px);
    background: #fff
}
#loading-page {
	height: calc(100% - 50px);
}
#dashboard-page {
	padding-top: 10px;
    overflow-y: scroll;
    height: calc(100% - 50px);
    background-color: rgba(255,255,255,0.9);
}
#subject-page {
	background-color: rgba(255,255,255,0.7);
}
#subject-title {
	margin: 0px;
	padding: 8px 5px 2px 5px;
	font-size: 37px;
	font-weight: bold;
	float: left;
	cursor: pointer;
}
#subject-title:hover,
#subject-title:focus {
	color: #337ab7;
}
#subject-menu {
	padding-top: 8px;
	float: right;
}
#subject-menu>div>div {
	padding-left: 5px;
	float: right;
}

.keyval {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	border-top: 2px solid #ddd;
	padding: 8px 8px 8px 8px;
}
.keyval>table {
	width : 100%;
}
.keyval>table>tbody>tr>th,
.keyval>table>tbody>tr>td {
	border-bottom: 1px dashed #ddd;
}

.indent {
	padding-left: 40px;
}

.data-action {
	cursor: pointer;
	text-decoration: none;
	color: #333;
}
.data-action:hover,
.data-action:focus {
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

.para {
	margin: 0px;
	padding: 0px;
}

.panelcol {
	padding: 4px;
	border: 1px solid #ddd;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
}

.colwrapper {
	padding: 5px;
}

.row {
	margin-left: -5px;
	margin-right: -5px;
}

.chartwrapper {
	width: 100%;
	min-width: 300px;
	max-width: 1920px;
    margin: auto;
    padding: 0px;
}





.dt-buttons {
	float: left;
}

@media (min-width: 768px) {
  .modal-dialog {
    margin: 60px auto;
  }
}

.footable-details>tbody>tr>th {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 40px;
	border-top: 1px dashed #ddd;
}
.footable-details>tbody>tr>td {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 20px;
	border-top: 1px dashed #ddd;
}
table.footable>tbody>tr.footable-empty>td {
	border-bottom: 1px solid #ddd;
	font-size: 14px;
}
table.footable-details>tbody>tr>th:nth-child(1) {
	min-width: 80px;
	max-width: 400px;
	width: 20%;
}
